.post-page-main {
    max-width: 900px;
    padding: 1rem;
    margin: auto;
    min-height: 100vh;
    margin-top: 110px;
}

.post-page-card{
    margin: 1rem 0;
    padding: 1rem;
}

.post-page-title{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-top: 20px;
}

.post-page-card-header{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #000000;
}

.post-page-content p {
    margin-bottom: 0.5rem;
}

.post-page-content h1 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin: 1.5rem 0;
}

.post-page-content h2 {
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    margin: 1.5rem 0;
}

.post-page-content a {
    color: #0077b6;
    text-decoration: none;
}

.post-page-content a:hover {
    text-decoration: underline;
}


.post-page-card-body {
    padding: 1rem;
}

.post-page-image-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 40px 20px;
    margin: 1.5rem 0;
}

.post-page-image {
    display: block;
    max-width: 100%;
    height: auto;
}




/* ----------------------- */
.recent-articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.recent-articles h1 {
    margin-top: 5rem;
    font-size: 2rem;
}

.recent-articles .post-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}











/* .image {
    max-height: 600px;
    object-fit: cover;
    margin-top: 1rem;
    padding: 1rem;
} */

/* .spinner {
    height: 3rem;
    width: 3rem;
} */